In [8]:
f = open("1.txt", "r")
numbers = set()
for line in f:
    numbers.add(int(line))
f.close()
numbers

{89,
 94,
 376,
 705,
 715,
 907,
 928,
 1024,
 1028,
 1033,
 1051,
 1087,
 1089,
 1097,
 1100,
 1132,
 1156,
 1160,
 1196,
 1225,
 1256,
 1265,
 1314,
 1316,
 1317,
 1321,
 1327,
 1330,
 1334,
 1336,
 1346,
 1349,
 1364,
 1378,
 1381,
 1384,
 1387,
 1392,
 1396,
 1402,
 1407,
 1412,
 1413,
 1416,
 1417,
 1421,
 1427,
 1430,
 1431,
 1436,
 1447,
 1449,
 1453,
 1458,
 1464,
 1466,
 1470,
 1471,
 1475,
 1480,
 1481,
 1487,
 1491,
 1495,
 1506,
 1510,
 1520,
 1524,
 1525,
 1540,
 1541,
 1544,
 1563,
 1566,
 1567,
 1572,
 1575,
 1576,
 1583,
 1586,
 1587,
 1588,
 1594,
 1595,
 1596,
 1598,
 1603,
 1606,
 1608,
 1611,
 1615,
 1621,
 1628,
 1634,
 1639,
 1640,
 1648,
 1650,
 1651,
 1653,
 1655,
 1656,
 1663,
 1666,
 1668,
 1670,
 1671,
 1676,
 1678,
 1681,
 1692,
 1695,
 1698,
 1703,
 1707,
 1713,
 1715,
 1716,
 1717,
 1718,
 1726,
 1729,
 1731,
 1733,
 1737,
 1738,
 1739,
 1743,
 1744,
 1745,
 1746,
 1748,
 1749,
 1750,
 1752,
 1760,
 1765,
 1779,
 1782,
 1783,
 1788,
 1790,
 1797,
 1798,
 1799,
 1803,
 1804,
 1809,
 1811,
 1812,
 1813,
 1814,
 1816,
 1818,
 1819,
 1820,
 1823,
 1831,
 1847,
 1852,
 1853,
 1861,
 1862,
 1864,
 1865,
 1866,
 1870,
 1882,
 1886,
 1892,
 1895,
 1898,
 1904,
 1906,
 1907,
 1909,
 1912,
 1918,
 1925,
 1926,
 1934,
 1940,
 1942,
 1951,
 1957,
 1964,
 1967,
 1968,
 1971,
 1973,
 1978,
 1979,
 1982,
 1983,
 1989,
 1994,
 2004,
 2005,
 2008,
 2009}

In [3]:
numbers

{89,
 94,
 376,
 705,
 715,
 907,
 928,
 1024,
 1028,
 1033,
 1051,
 1087,
 1089,
 1097,
 1100,
 1132,
 1156,
 1160,
 1196,
 1225,
 1256,
 1265,
 1314,
 1316,
 1317,
 1321,
 1327,
 1330,
 1334,
 1336,
 1346,
 1349,
 1364,
 1378,
 1381,
 1384,
 1387,
 1392,
 1396,
 1402,
 1407,
 1412,
 1413,
 1416,
 1417,
 1421,
 1427,
 1430,
 1431,
 1436,
 1447,
 1449,
 1453,
 1458,
 1464,
 1466,
 1470,
 1471,
 1475,
 1480,
 1481,
 1487,
 1491,
 1495,
 1506,
 1510,
 1520,
 1524,
 1525,
 1540,
 1541,
 1544,
 1563,
 1566,
 1567,
 1572,
 1575,
 1576,
 1583,
 1586,
 1587,
 1588,
 1594,
 1595,
 1596,
 1598,
 1603,
 1606,
 1608,
 1611,
 1615,
 1621,
 1628,
 1634,
 1639,
 1640,
 1648,
 1650,
 1651,
 1653,
 1655,
 1656,
 1663,
 1666,
 1668,
 1670,
 1671,
 1676,
 1678,
 1681,
 1692,
 1695,
 1698,
 1703,
 1707,
 1713,
 1715,
 1716,
 1717,
 1718,
 1726,
 1729,
 1731,
 1733,
 1737,
 1738,
 1739,
 1743,
 1744,
 1745,
 1746,
 1748,
 1749,
 1750,
 1752,
 1760,
 1765,
 1779,
 1782,
 1783,
 1788,
 1790,
 1797,
 1798,
 1799,
 1803,
 1804,
 1809,
 1811,
 1812,
 1813,
 1814,
 1816,
 1818,
 1819,
 1820,
 1823,
 1831,
 1847,
 1852,
 1853,
 1861,
 1862,
 1864,
 1865,
 1866,
 1870,
 1882,
 1886,
 1892,
 1895,
 1898,
 1904,
 1906,
 1907,
 1909,
 1912,
 1918,
 1925,
 1926,
 1934,
 1940,
 1942,
 1951,
 1957,
 1964,
 1967,
 1968,
 1971,
 1973,
 1978,
 1979,
 1982,
 1983,
 1989,
 1994,
 2004,
 2005,
 2008,
 2009}

In [6]:
for n in numbers:
    for n2 in numbers:
        if (n == n2):
            continue
        if (n + n2) == 2020:
            print(f"Result: {n},{n2} => {n*n2}")

Result: 94,1926 => 181044
Result: 1926,94 => 181044

In [7]:
for n in numbers:
    for n2 in numbers:
        for n3 in numbers:
            if (n == n2 or n == n3 or n2 == n3):
                continue
            if (n + n2 + n3) == 2020:
                print(f"Result: {n},{n2},{n3} => {n*n2*n3}")

Result: 1024,89,907 => 82660352
Result: 1024,907,89 => 82660352
Result: 89,1024,907 => 82660352
Result: 89,907,1024 => 82660352
Result: 907,1024,89 => 82660352
Result: 907,89,1024 => 82660352